@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Staatliches, sans-serif;
    font-weight: 400;
    background-color: #252525;
    color: #fff;
}

/*headings and logo*/

h1 {
    font-family: Caesar Dressing, sans-serif;
    letter-spacing: 10px;
}

#logo {
    font-size: 400%;
    float: left;
    color: #fff;
    margin-left: 400px;
}

/*navigation links*/
/*Used code to set float position of nav-links without reversed list order: https://codepen.io/ConStambo/pen/WxRQVq*/

#nav-links {
    font-size: 140%;
    letter-spacing: 3px;
    float: right;
    margin-right: 400px;
}


#nav-links li {
float: left;
list-style-type: none;
margin: 30px;
}

#nav-links a {
    text-decoration: none;
    color:inherit
}

#nav-links a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

/*hero image*/

#hero-image {
    height: 750px;
    width: 100%;
    background: url('../images/hero-image\ vers\ L.jpg') no-repeat 0 20%;
}