@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:Staatliches, sans-serif;
    font-weight: 400;
}

