@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Staatliches, sans-serif;
    font-weight: 400;
    background-color: #000000;
    color: #fff;
}

/* headings and logo */

h1 {
    font-family: Caesar Dressing, sans-serif;
    letter-spacing: 10px;
}

#logo {
    font-size: 400%;
    float: left;
    color: #fff;
    margin-left: 400px;
}

/* navigation links */
/* Used code to set float position of nav-links without reversed list order: https://codepen.io/ConStambo/pen/WxRQVq */

#nav-links {
    font-size: 140%;
    letter-spacing: 3px;
    float: right;
    margin-right: 400px;
}


#nav-links li {
    float: left;
    list-style-type: none;
    margin: 30px;
}

#nav-links a {
    text-decoration: none;
    color: inherit
}

#nav-links a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

/* hero image */

#hero-image {
    height: 750px;
    width: 100%;
    background: url('../images/hero-image\ vers\ L.jpg') no-repeat 0 20%;
}

/* next level section */
/* Used code to set text shadow in #lift-big: https://stackoverflow.com/questions/2570972/css-font-border */

#next-level-outer {
    height: 750px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#next-level-image {
    height: 750px;
    width: 100%;
    background: url('../images/hero-image\ vers\ 2.jpg') no-repeat;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;

}

#lift-big {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 30px;

    font-family: Staatliches, sans-serif;
    font-size: 300%;
    letter-spacing: 10px;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#cover-text,
#cover-text h2 {
    color: #fff;
}

hr {
    border-top: 2px solid #fff;
    width: 190px;
    margin: 3px 0;
}

#cover-text {
    font-size: 130%;
    font-family: Staatliches, sans-serif;
    letter-spacing: 3px;

    width: 1000px;
    height: 300px;


    padding-top: 20px;
    padding-left: 10px;

    background-color: rgba(0, 90, 161, .5);

    bottom: 150px;
    left: 460px;
    position: absolute;
}

p {
    margin-top: 20px;
}

/* open hours section*/
/* found how to add border-spacing through: https://www.w3docs.com/snippets/css/how-to-create-space-between-rows-in-the-table.html*/

#open-hours {
    font-size: 130%;
    font-family: Staatliches, sans-serif;
    letter-spacing: 3px;

    width: 400px;
    height: 130px;

    padding-top: 20px;
    padding-left: 10px;
    margin: 0 auto;

}

#open-hours h2 {
    text-align: center;
}

#border-space {
    border-spacing:15px 10px;
}

/* footer */

footer {
    height: 130px;
}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
}

.social-links i {
    font-size: 160%;
    margin: 1%;
    padding: 5px;
    color: #fff;
}