@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Staatliches, sans-serif;
    font-weight: 400;
    background-color: #000000;
    color: #fff;
}

/* headings and logo */

h1 {
    font-family: Caesar Dressing, sans-serif;
    letter-spacing: 10px;
}

#logo {
    font-size: 400%;
    float: left;
    color: #fff;
    margin-left: 400px;
}

/* navigation links */
/* Used code to set float position of nav-links without reversed list order: https://codepen.io/ConStambo/pen/WxRQVq */

#nav-links {
    font-size: 140%;
    letter-spacing: 3px;
    float: right;
    margin-right: 400px;
}


#nav-links li {
    float: left;
    list-style-type: none;
    margin: 30px;
}

#nav-links a {
    text-decoration: none;
    color: inherit
}

#nav-links a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

/* hero image */

#hero-outer {
    height: 750px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 750px;
    width: 100%;
    background: url('../images/hero-image\ L.jpg') no-repeat 50% 20%;
}

/* next level section */

#next-level-outer {
    height: 750px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#next-level-image {
    height: 750px;
    width: 100%;
    background: url('../images/image\ 2.jpg') no-repeat 50% 10%;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;

}

#cover-text h2 {
    color: #fff;
    font-size: 160%;
}

hr {
    border-top: 2px solid #fff;
    width: 215px;
    margin: 2px 0;
}

#cover-text {
    font-size: 140%;
    font-family: Staatliches, sans-serif;
    letter-spacing: 3px;
    width: 50%;
    height: 300px;
    margin: auto;
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(0, 90, 161, .5);
    top: 30px;
    left: 460px;
    position: absolute;
}

p {
    margin-top: 30px;
}

/* open hours section*/
/* Found code and altered to my use in project to add #border-space: https://bit.ly/3NXJcrd */

#open-hours {
    font-size: 130%;
    font-family: Staatliches, sans-serif;
    letter-spacing: 3px;

    width: 400px;
    height: 130px;

    padding-top: 20px;
    padding-left: 10px;
    margin: 0 auto;

}

#open-hours h2 {
    text-align: center;
}

#border-space {
    border-spacing: 15px 10px;
}

/* footer */

footer {
    height: 100px;
}

.social-links {
    text-align: center;
}

.social-links>li {
    display: inline;
}

.social-links i {
    font-size: 180%;
    margin: 1%;
    padding: 5px;
    color: #fff;
}

/* about page */

#about-outer {
    height: 750px;
    width: 100%;
    overflow: hidden;
}

#about-bg-image {
    height: 750px;
    width: 100%;
    background: url('../images/image\ 4.jpg') no-repeat 50% 20%;
}

/*
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#silhouette-image {
    width: 250px;
    height: 300px;
    background-color:#000000;
    position: absolute;
    top: 490px;
    left: 825px;
    padding: 10px;
}
*/

#about-text {
    font-size: 150%;
    font-family: Staatliches, sans-serif;
    letter-spacing: 3px;

    width: 750px;
    height: 200px;


    padding-top: 20px;
    padding-left: 10px;

    background-color: rgba(0, 90, 161, .7);

    top: 250px;
    left: 585px;
    position: absolute;
}

#about-paragraph {
    margin: 15px;
}

/* contact page */

#contact-outer {
    height: 750px;
    width: 100%;
    overflow: hidden;
}

#contact-bg-image {
    height: 750px;
    width: 100%;
    background: url('../images/image\ 3.jpg') no-repeat 50% 30%;
}

.contact-section {
    font-size: 130%;
    font-family: Staatliches, sans-serif;
    letter-spacing: 3px;

    width: 600px;
    height: 620px;

    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: rgba(0, 90, 161, 0.5);

    bottom: 150px;
    left: 660px;
    position: absolute;
}

.contact-form>h2 {
    color: #fff;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fff;
    border-radius: 2px;
}

.message-text-input {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 200px;
    margin: 5px 0 20px;
    border: 1px solid #fff;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #000000;
}

.message-text-input:hover {
    border-color: #000000;
}

.submit-button {
    margin-top: 5px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 120%;
    font-family: Staatliches, sans-serif;
    letter-spacing: 1px;
    background-color: #fff;
    color: rgb(0, 90, 161);
    display: block;
}

.submit-button:hover {
    background-color: #fff;
    color: #000000;
}

/* media queries */

/* On screens size 1500px wide or less */
@media screen and (max-width: 1500px) {

    #logo {
        margin-left: 90px;
    }

    #nav-links {
        margin: 0;
    }

    #cover-text {
        width: fit-content;
        height: fit-content;
        left: 0;
        margin: 15px;
        padding-bottom: 20px;
    }

    #about-text {
        width: fit-content;
        height: fit-content;
        left: 0;
        margin: 15px;
        padding-bottom: 20px;
    }

    /*
    #silhouette-image {
        top: 475px;
        left: 585px;
        padding: 10px;
    }
    */

    .contact-section {
        left: 420px;
        bottom: 180px;
    }

}


/* On screens size 768px wide or less */
@media screen and (max-width: 768px) {

    #logo {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    #nav-links {
        margin: 0 10px 0 10px;
    }

    #cover-text {
        width: fit-content;
        height: fit-content;
        left: 0;
        margin: 15px;
        padding-bottom: 20px;
    }

    #about-text {
        width: fit-content;
        height: fit-content;
        left: 0;
        margin: 15px;
        padding-bottom: 20px;
    }

    #silhouette-image {
        width: 188px;
        height: 225px;
        top: 535px;
        left: 280px;
    }

    .contact-section {
        width: 400px;
        height: 520px;
        left: 184px;
        bottom: 210px;
        padding-bottom: 30px;
        margin: 15px;
    }

    .message-text-input {
        height: 100px;
    }
}


/* On screens size 425px wide or less */
@media screen and (max-width: 425px) {

    #nav-links {
        margin: 0 180px 0 10px;
    }

    #cover-text {
        width: fit-content;
        height: fit-content;
        margin: 0 15px 0 15px;
        left: auto;
        padding-bottom: 10px;
    }

    #open-hours {
        width: auto;
        height: auto;
    }

    #border-space {
        margin: 0 auto;
    }

    #social-links {
        padding-top: 20px;
    }

    #about-text {
        width: fit-content;
        height: fit-content;
        left: auto;
        margin: 15px;
        top: 350px;
    }

    #silhouette-image {
        width: 165px;
        height: 200px;
        top: 820px;
        left: 120px;
    }

    .contact-section {
        width: fit-content;
        height: fit-content;
        left: auto;
        margin: 15px;
        top: 350px;
        padding-bottom: 15px;
    }
}